.project-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px;

    .project-card {
        /* max-width: 220px; */
        min-height: 180px;
    }
}
