/* update-log */
.nue-dialog--update-log {
    --dialog-width: 50%;
}

/* large */
.nue-dialog--large {
    box-sizing: border-box;
    width: 72vw;
    height: 72vh;
    min-width: unset;
    min-height: unset;
    max-width: unset;
    max-height: unset;

    .nue-dialog__content {
        overflow: hidden;
        margin-bottom: 0;
    }

    .nue-dialog__footer {
        display: none;
    }
}
