.nue-dropdown-pool {
    z-index: 99;
}

.nue-dropdown {
    min-width: unset;
    max-width: unset;

    .nue-dropdown-item {
        display: flex;
        align-items: center;
        gap: 8px;
        min-width: unset;

        .nue-button {
            .nue-button__icon {
                --icon-size: 16px;
            }
        }
    }
}

/* Combo box*/
.nue-dropdown--combo-box {
    padding: 0;

    .nue-container {

        .nue-header {
            padding: 2px 12px;
            height: auto;
            box-sizing: border-box;

            .nue-input {
                width: 128px;

                .nue-input__icon {
                    --icon-size: var(--text-md);
                }
            }

            .nue-text {
                height: 28px;
                line-height: 28px;
            }

        }

        .nue-main {
            padding: 4px;

            .nue-main__content {
                padding: 0;
            }
        }
    }
}

/* user-dropdown */
.nue-dropdown--user-dropdown {
    padding: 12px;
    width: auto;
    max-width: unset;
}

/* project-selector */
.nue-dropdown--project-selector .nue-dropdown-item {
    min-width: 140px;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

/* project-manager */
.nue-dropdown--project-manager {
    overflow: hidden;
}

/* menu */
.nue-dropdown--menu {
    padding: 2px 0;

    .nue-div--block {
        gap: 4px;
        flex-direction: column;
        align-items: stretch;
        padding: 4px;
    }

    .nue-text--title {
        font-size: var(--text-xs);
        font-weight: 500;
        color: var(--primary-color-500);
        padding: 2px 6px;
        cursor: default;
        user-select: none;
        -webkit-user-select: none;
    }

    .nue-dropdown-item {
        cursor: pointer;

        .nue-icon {
            --icon-size: var(--text-sm);
        }
    }
}