.nue-dropdown .nue-dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;

    .nue-button {
        .nue-button__icon {
            --icon-size: 16px;
        }
    }
}

/* Combo box*/
.nue-dropdown--combo-box {
    padding: 0;

    .nue-container {
        min-width: 120px;

        .nue-header {
            padding: 2px 12px;
            height: auto;

            .nue-input__icon {
                --icon-size: var(--text-md);
            }

            .nue-text {
                height: 28px;
                line-height: 28px;
            }
        }

        .nue-main {
            padding: 4px;

            .nue-main__content {
                padding: 0;
            }
        }
    }
}

/* user-dropdown */
.nue-dropdown--user-dropdown {
    padding: 12px;
}

/* project-selector */
.nue-dropdown--project-selector .nue-dropdown-item {
    min-width: 140px;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

/* project-manager */
.nue-dropdown--project-manager {
    overflow: hidden;
}