.project-board {
    --column-width: 240px;
    --row-height: calc(var(--column-width) * 3 / 4);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(var(--row-height), 1fr));
    grid-gap: 12px;
    flex: auto;

    .project-card {
        min-height: var(--row-height);
    }

    .project-board__delete-permanently {
        .nue-button--pure {
            --icon-size: 16px;
            --icon-weight: normal;
            cursor: pointer;
            transition: all 0.16s;
            color: red;
            margin-right: 6px;
        }
    }
}
