.overview-wrapper {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: auto 64px 1fr;
    grid-gap: 16px;

    & > .nue-div {
        &:hover {
            box-shadow: 0 2px 3px rgba(100, 100, 100, 0.3);
        }
    }
}

@media screen and (min-width: 1200px) {
    .overview-wrapper {
        .pinned-tasks {
            grid-column: 1;
            grid-row: 1 / 3;
        }

        .state-overview {
            grid-column: 2;
            grid-row: 1;
            /* overflow: hidden; */
            /* height: 200px; */
        }

        .third-block {
            grid-column: 1;
            overflow: hidden;
        }

        .fourth-block {
            grid-column: 2;
            grid-row: 2 / 4;
        }
    }
}

@media screen and (max-width: 1200px) {
    .overview-wrapper {
        height: auto;
        overflow: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-gap: 16px;

        & > .nue-div {
            &:hover {
                box-shadow: 0 2px 3px rgba(100, 100, 100, 0.3);
            }
        }

        .third-block {
            min-height: 360px;
        }
    }
}
