@keyframes fade-in-with-blur {
    0% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    100% {
        opacity: 1;
        backdrop-filter: blur(2px);
    }
}

@keyframes fade-out-with-blur {
    0% {
        opacity: 1;
        backdrop-filter: blur(2px);
    }
    100% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
}

@keyframes pulse-up {
    0% {
        transform: scaleX(0.5);
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes pulse-down {
    0% {
        transform: scaleX(0.5);
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

