/* Hint */
.nue-div.nue-div--hint {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--nue-primary-radius);
    border: 1px solid var(--nue-primary-color-500);
    background-color: var(--nue-primary-color-200);
    color: var(--nue-primary-color-800);
    user-select: none;
    -webkit-user-select: none;

    > .nue-icon {
        --nue-icon-size: 1rem;
    }

    > .nue-text {
        font-size: var(--nue-text-sm);
        line-height: 1.5;
    }
}

/* Block */
.nue-div.nue-div--block {
    gap: 0.125rem;
    flex-direction: column;
    width: 100%;
    min-width: 6.5rem;

    > .nue-text--title {
        font-size: var(--nue-text-sm);
        font-weight: 500;
        color: var(--nue-primary-color-500);
        padding: 0.125rem 0;
        cursor: default;
        user-select: none;
        -webkit-user-select: none;
    }

    > .nue-divider--title {
        padding: 0.125rem 0;
        box-sizing: border-box;

        .nue-divider__content {
            font-size: var(--nue-text-sm);
            font-weight: 500;
            color: var(--nue-primary-color-500);
            margin: 0;
            padding-left: 0;
        }
    }
}

/* Form Item */
.nue-div.nue-div--form-item {
    flex-direction: column;
    gap: 0.5rem;

    > .nue-text--label {
        font-size: var(--nue-text-sm);
        color: var(--nue-primary-color-600);
    }

    > .nue-input {
        width: 100%;
    }
}

/* Tasks Header */
.nue-div--tasks-header {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    .nue-text--pointer {
        cursor: pointer;
    }

    .nue-text--tasks-header__name {
        font-size: var(--nue-text-2xl);
    }

    .nue-text--tasks-header__description {
        color: var(--nue-primary-color-500);
        font-size: var(--nue-text-df);
    }
}

