/* Hint */
.nue-div.nue-div--hint {
    display: flex;
    align-items: center;
    gap: var(--nue-padding-xs);
    padding: var(--nue-padding-xs);
    border-radius: var(--nue-primary-radius);
    border: 1px solid var(--nue-primary-color-500);
    background-color: var(--nue-primary-color-200);
    color: var(--nue-primary-color-800);
    user-select: none;
    -webkit-user-select: none;
    font-size: var(--nue-text-sm);

    > .nue-icon {
        --nue-icon-size: 1rem;
    }
}

/* Form Item */
.nue-div.nue-div--form-item {
    flex-direction: column;
    gap: var(--nue-gap-xs);

    > .nue-text--label {
        font-size: var(--nue-text-sm);
        color: var(--nue-primary-color-600);
    }

    > .nue-input {
        width: 100%;
    }
}

/* Tasks Header */
.nue-div--tasks-header {
    flex-direction: column;
    gap: var(--nue-gap-xs);
    width: 100%;

    .nue-text--pointer {
        cursor: pointer;
    }

    .nue-text--tasks-header__name {
        font-size: var(--nue-text-2xl);
    }

    .nue-text--tasks-header__description {
        color: var(--nue-primary-color-500);
        font-size: var(--nue-text-df);
    }
}

