.nue-drawer-overlay {
    --nue-overlay-animation-name: fade-in-with-blur;
    --nue-overlay-animation-duration: 0.16s;
    --nue-overlay-close-animation-name: fade-out-with-blur;
    --nue-overlay-close-animation-duration: 0.16s;
    background-color: hsl(from var(--nue-primary-color-700) h s l / 0.48);
}
