.nue-link {
    > .nue-link__icon {
        line-height: normal;
    }

    > .nue-link__content {
        color: inherit;
        line-height: normal;
    }

    &.nue-link--route:not(.nue-link--route-icon) {
        > .nue-link__icon {
            font-size: var(--nue-text-md);
        }

        > .nue-link__content {
            line-height: inherit;
            font-size: var(--nue-text-sm);
        }

        > .nue-link__append {
            flex: auto;
            align-items: center;
            justify-content: end;
        }
    }
}

