@font-face {
  font-family: "iconfont"; /* Project id 4627189 */
  src: url('iconfont.woff2?t=1735123563652') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo1:before {
  content: "\e709";
}

.icon-logo2:before {
  content: "\e603";
}

.icon-logo3:before {
  content: "\ed04";
}

.icon-search2:before {
  content: "\e602";
}

.icon-week3:before {
  content: "\e6a8";
}

.icon-focus2:before {
  content: "\e63f";
}

.icon-focus3:before {
  content: "\e6f6";
}

.icon-todo:before {
  content: "\f5cd";
}

.icon-completed:before {
  content: "\e601";
}

.icon-clear-circle-fill:before {
  content: "\e656";
}

.icon-archive:before {
  content: "\e640";
}

.icon-unarchive:before {
  content: "\e663";
}

.icon-tomorrow2:before {
  content: "\e63a";
}

.icon-restore:before {
  content: "\e705";
}

.icon-restore2:before {
  content: "\e6f4";
}

.icon-calendar2:before {
  content: "\e9de";
}

.icon-calendar:before {
  content: "\e696";
}

.icon-inbox:before {
  content: "\e6bd";
}

.icon-in-progress:before {
  content: "\ea18";
}

.icon-menu-open:before {
  content: "\eaa9";
}

.icon-menu-close:before {
  content: "\eaaa";
}

