# Electron 二进制镜像
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
# electron-builder 工具镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
# 国内依赖镜像源
registry=https://registry.npmmirror.com/
