@font-face {
    font-family: 'pingfang';
    src: url('/pf.woff') format('woff');
    font-display: fallback;
}

.nue-html {
    --primary-font-family: 
        'Poppins', 
        'pingfang', 
        'Noto Color Emoji',
        system-ui;
}

* {
    font-family: var(--primary-font-family) sans-serif;
    -moz-osx-font-smoothing: grayscale;
}

/* 主页 - 任务子页 */
.tasks-view__main,
.search-view__main,
.index-aside {
    border: none !important;
    z-index: 0;

    .nue-main__aside-wrapper .nue-main__aside {
        gap: 8px;
    }

    .nue-main__outline-wrapper .nue-main__outline,
    .nue-main__outline-wrapper .nue-main__outline {
        padding: 0;
    }

    .nue-collapse-item {
        .nue-collapse-item__header {
            box-shadow: none;
            border-color: transparent;
            height: auto;
            min-height: auto;
        }

        .nue-collapse-item__empty-text {
            padding: 8px;
            background-color: var(--primary-color-200);
            border-radius: var(--primary-radius);
        }

        &[data-collapse='true'] .nue-collapse-item__header {
            box-shadow: none;
            border: none;
        }
    }

    .nue-main__content {
        overflow: hidden;
    }
}

/* table 空文本 */

.todo-table__main__empty-text {
    text-align: center;
    color: gray;
    font-size: 12px !important;
    margin-top: 16px;
}

/* scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--divider-color) transparent;

    &::-webkit-scrollbar {
        width: var(--primary-radius);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--divider-color);
        border-radius: var(--primary-radius);
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

/* popup-wrapper patches */

.nue-popup-wrapper {
    z-index: 101;
}
