/* Div */
@import './nueui/div.css';

/* Dropdown */
@import './nueui/dropdown.css';

/* Confirm */
@import './nueui/confirm.css';

/* Textarea */
@import './nueui/textarea.css';

/* Container */
@import './nueui/container.css';

/* Patches */
html.nue-html {
    --nue-primary-font-family: 'iconfont', 'Poppins-Regular', 'pf', 'Apple Color Emoji',
        'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;

    * {
        font-family: var(--nue-primary-font-family);
        line-height: normal;
    }
}
