.nue-link--plink {
    overflow: hidden;

    &:deep(span) {
        width: 100%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
