.tag-card {
    flex-direction: column;

    &[data-actived='false'] {
        background-color: #f2f2f2;

        & > * {
            opacity: 0.8;
        }

        .tag-card__footer-ops,
        .tag-card__ops {
            opacity: 1;
        }
    }
}
