.tasks-view-aside {
    gap: 16px;

    .nue-header {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        padding: 0px;
        /* padding-bottom: 8px; */
        height: auto;
        border-bottom: none;
    }

    .nue-main {
        overflow: initial;
    }

    .nue-link--plink {
        overflow: hidden;

        &:deep(span) {
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .nue-footer {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        padding: 0px;
        padding-top: 16px;
        height: auto !important;
        border: none;
    }
}
