.tasks-view-aside {

    .nue-header {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        padding: 0px;
        padding-bottom: 16px;
        height: auto;
    }

    .nue-footer {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        padding: 0px;
        padding-top: 16px;
        height: auto !important;
    }
}
