.tasks-all-view {
    .nue-header {
        align-items: stretch;
        padding: 0px;
        flex-direction: column;
        border-bottom: none;
        height: auto;

        .nue-input--add-task {
            width: 100%;
            height: 36px;
            box-shadow: none;
            --border-color: transparent;
            --background-color: #f4f4f5;
        }

        .project-navigations {
            width: fit-content;
            gap: 0px;
            padding: 4px;
            background-color: #f4f4f5;
            border-radius: var(--primary-radius);

            .nue-link {
                padding: 4px 12px;
                height: auto;
                color: #66666e;
                border-color: transparent;
                justify-content: center;
                font-size: 14px;

                --hover-background-color: transparent;
                --active-background-color: transparent;

                &.nue-link--actived {
                    background-color: white;
                    color: #131315;
                    box-shadow: var(--secondary-shadow);
                }
            }
        }
    }
}

.tasks-all-table-view {
    padding-top: 24px;
    width: 100%;
    flex: auto;
    overflow: hidden;
}

.todo-details-wrapper {
    width: 520px;
    height: 100%;
    flex-wrap: nowrap;
    transition: all 0.32s ease-in-out;
    background-color: white;
    overflow: hidden;
}

@media screen and (max-width: 1600px) {
    .todo-details-wrapper {
        width: 440px;
        height: 100%;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1400px) {
    .todo-details-wrapper {
        width: 360px;
        height: 100%;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1200px) {
    .todo-details-wrapper {
        width: 440px;
        transform: translateX(0);
        position: absolute;
        right: 0;
        box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .todo-details-wrapper[data-empty='true'] {
        transform: translateX(100%);
        overflow: hidden;
        box-shadow: none;
    }
}
