.content-kanban {
    width: 100%;

    .nue-header {
        border-bottom: none;
    }

    .nue-main {
        overflow: hidden;
        overflow-x: auto;
        gap: 16px;

        &:deep(> .nue-main__content) {
            flex-direction: row;
            padding: 0px 16px;
            gap: 16px;
        }
    }
}
