.todo-card {
    padding: 8px;
    gap: 8px;
    flex-wrap: nowrap;
    min-width: 260px;
    transition: all 0.16s ease;
    background-color: var(--primary-color-50);
}

.todo-card:hover,
.todo-card[data-actived='true'] {
    border-color: #66667f;
    background-color: var(--primary-color-100);
    cursor: pointer;
}

.todo-card:hover .todo-card__name,
.todo-card[data-actived='true'] .todo-card__name {
    text-decoration: underline;
}

.todo-card:hover .todo-card__actions,
.todo-card[data-actived='true'] .todo-card__actions {
    display: flex;
}

.todo-card[data-actived='true'] {
    background-color: #f2f2f2;
}

.todo-card__check-icon {
    --icon-size: 19px;
    color: var(--primary-color-500);
    padding: 2px;
    transition: all 0.16s ease;
    margin-top: 1px;

    &:hover {
        color: var(--primary-color-700);
    }
}

.todo-card__info {
    flex-direction: column;
    gap: 0;
}


.todo-card__name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 26px;
    flex: 1;
}

.todo-card__actions {
    width: fit-content;
    margin: 0 4px;
    display: none;
}

.todo-card__actions .nue-button {
    --icon-color: rgb(84, 84, 84);
    --icon-weight: 500;
    padding: 4px;
}

.todo-card__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: 3; */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #aaa;
}

.todo-card__attrs * {
    color: gray;
}

.todo-card__attrs > .nue-div {
    min-width: 20%;
}

.todo-card__attrs .todo-tag-bar {
    min-width: 20%;
    margin-right: 4px;
}

.todo-card__favorite-icon {
    --icon-color: #ee537f;
}

.todo-card[data-is-done='true'] .todo-card__check-icon {
    --icon-color: var(--primary-color);
}

.todo-card[data-is-done='true'] .todo-card__name {
    text-decoration: line-through;
    color: gray;
}
