.todo-table {
    align-items: stretch;
    flex-direction: column;
    gap: 4px;
    flex: auto;
    overflow: auto;
    min-width: 480px;
    flex-wrap: nowrap;
    height: 100%;

    -webkit-user-select: none;
    user-select: none;
}

.todo-table__header {
    align-items: center;
    padding: 4px 16px;
    gap: 24px;
    border: 1px solid transparent;
}

.todo-table__header__col .nue-text,
.todo-table__main__col .nue-text {
    color: var(--primary-color-800);
    font-size: var(--text-xs);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.todo-table__main {
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    flex: auto;
    gap: 0;
    flex-wrap: nowrap;
}

.todo-table__main__row {
    overflow: hidden;
    flex-wrap: nowrap;
    border: 1px solid transparent;
    border-radius: var(--primary-radius);
    gap: 24px;
    padding: 8px 16px;
    width: 100%;
    position: relative;
}

.todo-table__main__row:hover {
    border: 1px solid #ccc;
}

.todo-table__main__row[data-selected='true'] {
    background-color: #f2f2f2;
}

.todo-table__main__row[data-done='true'] * {
    opacity: 0.8;
    transition: opacity 0.16s ease;
}

.todo-table__main__col {
    line-height: 21px;
    overflow: hidden;
    height: 100%;
    align-items: center;
}

.col-name {
    flex: auto;
    gap: 4px;
}

.col-name .col-name__name {
    width: 100%;
    color: var(--primary-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-name .col-name__name .nue-text {
    font-size: var(--text-sm);
}

.col-name .col-name__description {
    width: 100%;
    color: var(--primary-color-600);
    white-space: pre;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-created-at,
.col-updated-at,
.col-end-at {
    width: 9%;

    .nue-text {
        text-overflow: unset;
        overflow: initial;
        white-space: initial;
    }
}

.col-end-at[data-expired='true'] .nue-text {
    color: #e74646;
}

.col-state,
.col-project,
.col-priority {
    width: 8%;
}

.col-actions {
    width: auto;
    color: var(--primary-color-600);
}

.col-actions .nue-icon {
    cursor: pointer;
}

