.tasks-main-table-view {
    & > .nue-header {
        height: auto;
        box-sizing: border-box;
        padding-top: 0;
    }

    & > .nue-main {
        border: none !important;

        .nue-main__content {
            padding: 0 16px;
            border: none;
        }
    }
}