.tasks-main-table-view__header {
    height: auto;
    box-sizing: border-box;
    padding-top: 8px;
}

.tasks-main-table-view__main {
    border: none !important;
}

.tasks-main-table-view__main .nue-main__content {
    padding: 0 16px;
    border: none;
}