/* Hint */
.nue-div.nue-div--hint {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.25rem;
    padding: 0.5rem;
    border-radius: var(--nue-primary-radius);
    border: 1px solid var(--nue-primary-color-500);
    background-color: var(--nue-primary-color-200);
    color: var(--nue-primary-color-800);
    user-select: none;
    -webkit-user-select: none;

    > .nue-icon {
        --nue-icon-size: 1rem;
    }

    > .nue-text {
        font-size: var(--nue-text-xs);
        line-height: 1.5;
    }
}

/* Block */
.nue-div.nue-div--block {
    gap: 4px;
    flex-direction: column;
    align-items: stretch;
    padding: 4px;
    width: 100%;

    > .nue-text--title {
        font-size: var(--nue-text-xs);
        font-weight: 500;
        color: var(--nue-primary-color-500);
        padding: 4px 6px;
        cursor: default;
        user-select: none;
        -webkit-user-select: none;
    }
}

/* Form Item */
.nue-div.nue-div--form-item {
    width: min(100%, 25rem);
    flex-direction: column;
    gap: 0.5rem;

    > .nue-text--label {
        font-size: var(--nue-text-sm);
        color: var(--nue-primary-color-600);
    }

    > .nue-input {
        width: 100%;
    }
}

/* Tasks Header */
.nue-div--tasks-header {
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;

    .nue-text--pointer {
        cursor: pointer;
    }

    .nue-text--tasks-header__name {
        --nue-text-clamped-lines: 1;
        font-size: var(--nue-text-2xl);
    }

    .nue-text--tasks-header__description {
        --nue-text-clamped-lines: 2;
        color: var(--nue-primary-color-500);
        font-size: var(--nue-text-sm);
    }
}
