.nue-container#TodoTableContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;

    > .nue-header {
        padding: 0;
        border: none;
        height: auto;
    }

    > .nue-main {
        border: none;

        > .nue-content {
            display: flex;
            flex-direction: column;
            gap: var(--nue-gap-xs);
            position: relative;
            overflow: auto;

            .todo-table__header {
                align-items: center;
                gap: 0;
                position: sticky;
                top: 0;
                background-color: var(--nue-primary-color-0);
                border-bottom: 1px solid var(--nue-border-color);
                width: fit-content;
                z-index: 1;
                box-shadow: -2px 2px 4px rgba(200, 200, 200, 0.1);

                > * {
                    font-size: var(--nue-text-sm);
                    color: var(--nue-primary-color-700);
                    box-sizing: border-box;
                }

                .todo-table__header__col {
                    position: relative;
                    height: var(--nue-box-size-md);
                    padding: 0 var(--nue-padding-sm);
                    transition: background var(--nue-animation-duration-short) ease-in;
                    display: flex;
                    align-items: center;
                    overflow: visible;

                    &:hover {
                        color: var(--nue-primary-color-900);
                    }

                    &:not(.col-first),
                    &:not(.col-pinned) {
                        &:hover {
                            cursor: grab;
                        }

                        &:active {
                            cursor: grabbing;
                        }
                    }

                    &.dragging {
                        opacity: 0.5;
                    }

                    &.drag-over::before {
                        content: '>|';
                        margin-right: 1rem;
                        color: var(--nue-warning-color-50);
                    }

                    .column-resizer {
                        position: absolute;
                        right: -8px;
                        top: 0;
                        bottom: 0;
                        width: 16px;
                        cursor: col-resize;
                        background: transparent;
                        transition: background var(--nue-animation-duration-short);
                        z-index: 2;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            bottom: 0;
                            width: 1px;
                            background: var(--nue-primary-color-200);
                            transition: background var(--nue-animation-duration-short);
                            height: 50%;
                        }

                        &:hover::before {
                            background: var(--nue-primary-color-600);
                            box-shadow: var(--nue-secondary-shadow);
                        }
                    }
                }
            }

            .todo-table__main {
                display: flex;
                flex-direction: column;
                gap: 0;
                width: fit-content;

                .todo-table__main__row {
                    align-items: center;
                    border: 1px solid transparent;
                    border-radius: var(--nue-primary-radius);
                    gap: 0;
                    position: relative;
                    height: fit-content;

                    &:hover {
                        border: 1px solid var(--nue-primary-color-200);
                    }

                    &[data-selected='true'] {
                        background-color: var(--nue-primary-color-200);
                    }

                    &[data-done='true'] * {
                        opacity: 0.8;
                        transition: opacity 0.16s ease;
                    }

                    &[data-deleted='true'] {
                        opacity: 0.7;
                        transition: opacity 0.16s ease;

                        & *::after {
                            width: 98%;
                            height: 1px;
                            background-color: var(--nue-primary-color-400);
                            display: block;
                            content: '';
                            position: absolute;
                            top: calc(50% - 1px);
                            left: 1%;
                            z-index: -1;
                        }
                    }

                    .todo-table__main__col {
                        overflow: visible;
                        align-items: center;
                        padding: var(--nue-padding-xs) var(--nue-padding-sm);

                        &.col-first {
                            gap: 0.125rem;
                            font-size: var(--nue-text-df2);

                            .col-first__name-wrapper {
                                flex: auto;
                                flex-wrap: nowrap;
                                overflow: visible;
                                width: 100%;
                                gap: 0.5rem;
                                align-items: center;

                                .nue-text--todo-givenup {
                                    font-size: var(--nue-text-xs);
                                    color: var(--nue-warning-color-50);
                                    line-height: 1;
                                    flex: none;
                                }

                                .nue-text--todo-name {
                                    color: var(--nue-primary-color-900);
                                    margin-right: auto;
                                }
                            }

                            .col-first__description {
                                color: var(--nue-primary-color-500);
                                font-size: var(--nue-text-sm);
                                overflow: hidden;
                                white-space: normal;
                                word-break: break-all;
                            }
                        }

                        &.col-datetime {
                            color: var(--nue-primary-color-800);
                            font-size: var(--nue-text-sm);

                            &[data-expired='true'] {
                                color: var(--nue-error-color-30);
                            }
                        }

                        &.col-attr {
                            font-size: var(--nue-text-sm);
                            color: var(--nue-primary-color-800);
                        }

                        &.col-actions {
                            color: var(--nue-primary-color-600);

                            .nue-icon {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

