#TodoTableContainer {
    align-items: start;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    gap: 0.5rem;
    width: 100%;
    height: 100%;

    > .nue-header,
    > .nue-footer {
        padding: 0;
        border: none;
        height: auto;
    }

    > .nue-main {
        width: 100%;
        height: 100%;
        border: none;
        overflow: auto;

        > .nue-content {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            position: relative;
            overflow: visible;

            .todo-table__header {
                align-items: center;
                gap: 1rem;
                flex-wrap: nowrap;
                padding: 0 12px;
                height: 2.5rem;
                position: sticky;
                top: 0;
                background-color: white;
                border-bottom: 1px solid var(--nue-border-color);
                z-index: 2;

                .col-first,
                .col-datetime,
                .col-attr {
                    font-size: var(--nue-text-df);
                    color: var(--nue-primary-color-900);
                }
            }

            .todo-table__main {
                display: flex;
                flex-direction: column;
                gap: 0;
                width: 100%;

                .todo-table__main__row {
                    align-items: center;
                    flex-wrap: nowrap;
                    border: 1px solid transparent;
                    border-radius: var(--nue-primary-radius);
                    gap: 1rem;
                    padding: 8px 12px;
                    position: relative;
                    min-height: 40px;
                    width: 100%;

                    &:hover {
                        border: 1px solid #ccc;
                    }

                    &[data-selected='true'] {
                        background-color: #f2f2f2;
                        /* border: 1px solid orange; */
                    }

                    &[data-done='true'] * {
                        opacity: 0.8;
                        transition: opacity 0.16s ease;
                    }

                    &[data-deleted='true'] {
                        opacity: 0.7;
                        transition: opacity 0.16s ease;

                        & *::after {
                            width: 98%;
                            height: 1px;
                            background-color: var(--nue-primary-color-400);
                            display: block;
                            content: '';
                            position: absolute;
                            top: calc(50% - 1px);
                            left: 1%;
                            z-index: -1;
                        }
                    }

                    &[data-giveup='true'] {
                        opacity: 0.8;
                        transition: opacity 0.16s ease;
                    }
                }

                .todo-table__main__col {
                    overflow: hidden;
                    height: 100%;
                    align-items: center;

                    &.col-first {
                        gap: 0.25rem;

                        .col-first__name-wrapper {
                            flex: auto;
                            flex-wrap: nowrap;
                            overflow: hidden;
                            width: 100%;
                            gap: 0.5rem;
                            align-items: center;

                            .nue-text--todo-name {
                                font-size: var(--nue-text-df);
                                color: var(--nue-primary-color-900);
                                margin-right: auto;
                            }
                        }

                        .col-first__description {
                            color: var(--nue-primary-color-600);
                            font-size: var(--nue-text-sm);
                            overflow: hidden;
                            white-space: normal;
                            word-break: break-all;
                        }

                        .col-first__giveup-tag {
                            font-size: 0.75rem;
                            height: 18px;
                            line-height: 18px;
                            padding: 0 6px;
                            border-radius: var(--nue-primary-radius);
                            background-color: #ff7b47;
                            color: white;
                        }
                    }

                    &.col-datetime {
                        color: var(--nue-primary-color-800);
                        font-size: var(--nue-text-sm);

                        &[data-expired='true'] {
                            color: #e74646;
                        }
                    }

                    &.col-attr {
                        font-size: var(--nue-text-sm);
                        color: var(--nue-primary-color-800);
                    }

                    &.col-actions {
                        color: var(--nue-primary-color-600);

                        .nue-icon {
                            cursor: pointer;
                        }
                    }
                }
            }

            .col-first {
                min-width: 18rem;
                flex: 1;
            }

            .col-datetime {
                min-width: 6rem;
                max-width: 7rem;
                flex: 1;
            }

            .col-attr {
                min-width: 5rem;
                max-width: 6rem;
                flex: 1;
            }

            .col-actions {
                min-width: 1rem;
                max-width: 1rem;
            }
        }
    }

    > .nue-footer {
        width: 100%;
    }
}
