.nue-collapse-item--smart-list {
    .nue-button {
        font-size: var(--nue-text-xs);

        .nue-div--title {
            font-size: var(--nue-text-xs);
            gap: var(--nue-gap-xs);

            > .nue-text--count {
                color: var(--nue-primary-color-700);
            }
        }
    }

    .nue-div--actions {
        gap: var(--nue-gap-xs);
        width: fit-content;
    }

    .nue-div--links {
        flex-direction: column;
        gap: var(--nue-gap-xs);

        .nue-text--empty {
            font-size: var(--nue-text-xs);
            color: var(--nue-primary-color-600);
            padding: var(--nue-padding-xs) var(--nue-padding-sm);
            background-color: var(--nue-primary-color-100);
            border-radius: var(--nue-primary-radius);
            text-align: left;
        }
    }
}

