.nue-main {
    &:deep().nue-main__aside-wrapper .nue-main__aside {
        gap: 8px;

        .nue-collapse .nue-collapse-item .nue-collapse-item__header {
            box-shadow: none;
            border-color: transparent;
            height: auto;
            min-height: auto;
        }
    }

    &:deep().nue-main__outline-wrapper .nue-main__outline {
        /* position: relative; */
        padding: 0px;
    }
}
