.todo-details-wrapper {
    width: 520px;
    height: 100%;
    flex-wrap: nowrap;
    transition: all 0.32s ease-in-out;
    background-color: white;
    overflow: hidden;
}

@media screen and (max-width: 1600px) {
    .todo-details-wrapper {
        width: 440px;
        height: 100%;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1400px) {
    .todo-details-wrapper {
        width: 360px;
        height: 100%;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1200px) {
    .todo-details-wrapper {
        width: 440px;
        transform: translateX(0);
        position: absolute;
        right: 0;
        box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .todo-details-wrapper[data-empty='true'] {
        transform: translateX(100%);
        overflow: hidden;
        box-shadow: none;
    }
}
