.nue-html {
    --primary-font-size-base: 16px;
    --primary-font-weight: 500;
}

.nue-link--plink {
    overflow: hidden;

    .nue-icon {
        line-height: 1;
        display: flex;
        align-items: center;
        --font-size: 16px;
    }

    & span {
        width: 100%;
        text-align: left;
        font-size: var(--text-xs);
    }
}

.nue-button--icon-only {
    .nue-icon::before {
        font-size: 16px;
        font-weight: 500;
    }
}

.nue-link--disabled {
    opacity: 0.6;
    background-color: #f5f5f5;
}

.nue-dropdown--combo-box {
    padding: 0px;

    .nue-container {
        min-width: 140px;

        .nue-header {
            padding: 4px 6px;
            height: auto;

            .nue-text {
                height: 28px;
                line-height: 28px;
                padding: 0px 6px;
            }
        }

        .nue-main {
            padding: 4px;
        }
    }
}

.nue-progress--line {
    .nue-progress__inner-bar {
        padding: 0px !important; 
    }
}

.nue-text--pointer {
    cursor: pointer;
}
