.nao-color-dot {
    --nao-color-dot-background-color: transparent;

    width: 12px;
    height: 12px;
    border-radius: 999px;
    background-color: var(--nao-color-dot-background-color);
    position: relative;
    box-sizing: border-box;
    flex: none;

    &.nao-color-dot--sm {
        width: 10px;
        height: 10px;
    }

    &.nao-color-dot--lg {
        width: 14px;
        height: 14px;
    }

    &.nao-color-dot--xl {
        width: 16px;
        height: 16px;
    }

    &.nao-color-dot--transparent {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dotted #696969;

        &::before {
            content: '';
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border-radius: 99px;
        }
    }
}