.todo-history-dialog-container {
    overflow: hidden;
    flex-wrap: nowrap;
    height: 100%;
    flex: auto;


    .todo-history-dialog__table {
        height: 100%;
        overflow: hidden;
        flex: auto;

        .todo-table--mobile {
            overflow-y: auto;
            flex: none;
        }
    }
}