.tasks-view-aside {
    gap: 8px;
    height: auto;
    overflow: unset;

    .nue-header {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        padding: 0px;
        /* padding-bottom: 8px; */
        height: auto;
        border-bottom: none;
    }

    .nue-main {
        overflow: initial;

        &:deep().nue-collapse-item__header {
            border: none;
            box-shadow: none;
        }
    }

    .nue-link--plink {
        overflow: hidden;

        &:deep(span) {
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .nue-footer {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        padding: 0px;
        height: auto !important;
        border: none;
    }
}
