.nue-link.nue-link--route {
    --nue-link-font-size: var(--nue-text-xs);
    --nue-link-icon-size: 0.9625rem;
    --nue-link-actived-background-color: var(--nue-primary-color-900);

    width: 100%;
    min-width: unset;
    overflow: hidden;

    .nue-link__icon::before {
        line-height: normal;
    }

    .nue-link__content {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .nue-link__append {
        margin-left: auto;
    }

    &.nue-link--route-ico {
        --nue-link-padding: 0;
        --nue-link-border-color: transparent;
        --nue-link-text-decoration: none;
        --nue-link-color: var(--nue-primary-color-500);
        --nue-link-hover-background-color: transparent;
        --nue-link-actived-color: var(--nue-primary-color-900);
        --nue-link-actived-background-color: transparent;
        --nue-link-actived-border-color: transparent;

        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;

        .nue-link__icon {
            --nue-icon-size: 1.625rem;
            padding: 0;
        }

        .nue-link__content {
            display: none;
        }

        &.nue-link--actived {
            --nue-link-icon-color: var(--nue-link-actived-color);
            box-shadow: var(--nue-secondary-shadow);
        }
    }

    &.nue-link--actived {
        --nue-link-hover-color: white;

        background-color: var(--nue-link-actived-background-color);
    }
}

